* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.mobile-main-page {
    background-image: url("assets/images/mobile-music-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 50px;
}

nav a img.humber {
    padding: 20px;
    color: white;
}
.hero-intro {
    display: flex;
}

.headings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ec5242;
    padding: 19px;
}

.hello-head {
    font-size: 33px;
    width: 94%;
}

.festival-heading {
    font-size: 36px;
    width: 100%;
    font-weight: 900;
    font-family: sans-serif;
}

.mobile-para-1 {
    font-size: 24px;
    line-height: 29px;
    color: #d3d3d3;
}

.program-main-sec {
    background-color: #272a31;
    margin-top: 18px;
}

.main-pro {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.pro-heading {
    font-size: 30px;
    color: #ffff;
    font-weight: 900;
    text-align: center;
}

.main-hr {
    width: 24%;
    height: 0;
    color: #ec5242;
    border: 1px solid;
    margin-left: 39%;
    margin-top: 9px;
}

.programs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 24px;
}

.program-img1 {
    width: 50%;
    height: 68px;
}

.program-head {
    font-size: 25px;
    font-weight: 400;
    color: #ec5242;
}

.program-para {
    font-size: 12px;
    width: 87%;
    color: #ffff;
}

.reseve-sport {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reserve-btn {
    background-color: #ec5242;
    color: #fff;
    padding: 20px;
    border: 0;
    width: 221px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 47px;
}

.spakers-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;
    padding: 20px;
}

.speaker-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.span-speaker {
    display: flex;
    flex-direction: row;
    gap: 42px;
}

.speaker-details {
   gap: 20px;
}

.speaker-img {
    width: 134px;

}

.speaker-name {
    font-size: 30px;
  font-weight: 500;
}

.speaker-infor {
    color: #ec5242;
    font-size: 19px;
}

.para-speaker {
    font-size: 15px;
    color: #272a31;
}

.main-speakers {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.spk-heading {
    font-size: 30px;
    color: #272a31;
    font-weight: 900;
    text-align: center;
}

.spk-hr {
    width: 24%;
    height: 0;
    color: #ec5242;
    border: 1px solid;
    margin-left: 39%;
    margin-top: 9px;
}