* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  width: 100%;
}

.mobile-main-page {
  background-image: url("assets/images/new-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-bottom: 50px;
  height: 100vh;
}

.desk-nav {
  display: none;
}

.desk-menu {
  display: none;
}

/* mobile menu css */
.show {
  display: block;
  width: 100%;
}

.hidden {
  display: none;
}

.ul-list {
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  padding: 1rem;
  text-decoration: none;
  height: 320vh;
  background-color: black;
  z-index: 5;
  position: fixed;
}

.ul-list .desk-menu-list {
  list-style: none;
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  margin-top: 55px;
}

.ul-list .desk-menu-list a {
  color: white;
}

.expand {
  height: 100vh;
  margin: 0;
  padding: 2.5rem 0.8rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.close-show {
  position: absolute;
  font-size: 30px;
  color: #d3d3d3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.musical {
  display: none;
}

nav a img.humber {
  padding: 20px;
  color: white;
}

.hero-intro {
  display: flex;
}

.headings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  padding: 19px;
  padding-top: 19%;
  width: 100%;
}

.hello-head {
  font-family: 'poppins', sans-serif;
  font-size: 30px;
  width: 97%;
}

.festival-heading {
  font-size: 41px;
  width: 100%;
  font-weight: 900;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

.mobile-para-1 {
  font-size: 19px;
  line-height: 29px;
  color: #d3d3d3;
  width: 80%;
  padding-left: 14px;
}

.dates {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5px;
  width: inherit;
  font-size: 15px;
  margin-bottom: 10px;
}

.dat-1 {
  font-size: 24px;
}

.dat-para {
  font-size: 17px;
}

.program-main-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("assets/images/repeat-bg.png");
  background-repeat: repeat;
  padding: 20px;
  gap: 20px;
}

.main-pro {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.pro-heading {
  font-size: 30px;
  color: #ffff;
  font-weight: 900;
  text-align: center;
}

.main-hr {
  width: 24%;
  height: 0;
  color: #ec5242;
  border: 1px solid;
  margin-left: 39%;
  margin-top: 9px;
}

.programs {
  background: #272a31;
  opacity: 0.8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.program-img1 {
  width: 50%;
  height: 68px;
}

.program-head {
  font-size: 25px;
  font-weight: 400;
  color: #ec5242;
}

.program-para {
  font-size: 12px;
  width: 87%;
  color: #ffff;
}

.btn-10 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reseve-sport {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reserve-btn {
  background-color: #ec5242;
  color: #fff;
  padding: 20px;
  border: 0;
  width: 221px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 47px;
}

.reserve-btn1 {
  display: none;
}

.spakers-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 40px;
  padding: 20px;
}

.speaker-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.span-speaker {
  display: flex;
  flex-direction: row;
  gap: 42px;
}

.speaker-details {
  gap: 20px;
}

.speaker-img {
  width: 134px;
}

.speaker-name {
  color: #272a31;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Lato', sans-serif;
}

.speaker-infor {
  color: #ec5242;
  font-size: 18px;
  font-style: italic;
  font-weight: 500;
  font-family: 'Lato', sans-serif;
}

.para-speaker {
  font-size: 15px;
  color: #272a31;
  font-family: 'Lato', sans-serif;
}

.main-speakers {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.spk-heading {
  font-size: 30px;
  color: #272a31;
  font-weight: 900;
  text-align: center;
}

.spk-hr {
  width: 24%;
  height: 0;
  color: #ec5242;
  border: 1px solid;
  margin-left: 39%;
  margin-top: 9px;
}

.view-more {
  display: flex;
  justify-content: center;
  align-items: center;
}

.see-more-btn {
  background-color: #fff;
  border: 1px solid  #272a31;
  padding: 15px;
  width: 321px;
  font-size: 30px;
}

.drop-see-more {
  padding-top: 2px;
  padding-bottom: 2px;
}

.about-partners {
  display: none;
}

.footer {
  display: none;
}

/* media queries */

@media (min-width: 768px) {
  .mobile-main-page {
    width: 100%;
    padding-bottom: 50px;
    height: 150vh;
  }

  .mainMenu {
    display: none;
  }

  .desk-nav {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    background-color: #272a31;
    height: 40px;
    text-decoration: none;
    list-style: none;
    padding-right: 211px;
  }

  .desk-menu-list1 a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
  }

  li.hidden {
    display: flex;
  }

  .second-nav {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    padding-right: 150px;
    background-color: #000;
    height: 70px;
    text-decoration: none;
    list-style: none;

    /* position: fixed;
    width: 100%; */
  }

  .desk-menu {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 48px;

    /* padding-right: 150px; */
    height: 40px;
    list-style: none;
  }

  .desk-menu-list a {
    color: #d3d3d3;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
  }

  .about-red a {
    color: #ec5242;
  }

  .border-item {
    border: 2px solid #ec5242;
    padding: 10px;
  }

  .border-item a {
    color: #ec5242;
  }

  .musical {
    display: flex;
    width: 50px;
    height: 40px;
    margin-right: 400px;
  }

  .humber {
    display: none;
  }

  .hero-intro {
    position: absolute;
  }

  .headings {
    display: flex;
    padding-top: 158px;
    padding-left: 142px;
    gap: 2px;
  }

  .festival-heading {
    font-size: 98px;
  }

  .first-para {
    width: 60%;
    padding: 30px;
  }

  .dates {
    gap: 15px;
  }

  .dat-para {
    font-size: 25px;
  }

  .cards-desk {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
  }

  .main-pro {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main-hr {
    width: 6%;
    margin-left: 9px;
    align-self: center;
  }

  .programs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    border: 2px solid #d3d3d3;
    border-radius: 5px;
  }

  .programs:hover {
    transform: scale(1.3);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    border: 1px solid #ec5242;
    border-radius: 5px;
  }

  .program-img1 {
    width: 106px;
    height: 95px;
  }

  .reseve-sport {
    display: none;
  }

  .reserve-btn {
    display: none;
  }

  .desk-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .reserve-btn1 {
    display: flex;
    color: #fff;
    border-bottom: #000;
    position: relative;
    margin-top: -92px;
  }

  .main-speakers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .spk-heading {
    font-size: 30px;
    color: #272a31;
    font-weight: 900;
    text-align: center;
    padding-top: 23px;
  }

  .spk-hr {
    width: 6%;
    margin-left: 9px;
    align-self: center;
    margin-bottom: -105px;
  }

  .card-container {
    display: flex;
    flex-direction: row;
    padding: 25px;
  }

  .spakers-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: 98%;
    padding: 96px;
  }

  .span-speaker {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .see-more-btn {
    display: none;
  }

  .para-speaker {
    padding-top: 12px;
    font-size: 18px;
    color: #272a31;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
  }

  .about-partners {
    display: flex;
    flex-direction: column;
    background-color: #272a31;
    height: 287px;
  }

  .main-partner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    color: #fff;

    /* font-weight: 500; */
    text-align: center;
    font-family: 'Lato', sans-serif;
  }

  .head-partners {
    font-weight: 500;
    padding-top: 30px;
  }

  .partner-hr {
    height: 0;
    color: #ec5242;
    border: 1px solid;
    width: 6%;
    margin-left: 9px;
    align-self: center;
    margin-top: 21px;
  }

  .img-p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 31px;
  }

  .ptn-img {
    width: 120px;
    height: 97px;
  }

  .footer {
    background-color: #d3d3d3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
    gap: 183px;
  }

  .logo-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .footer-img {
    width: 100px;
    height: 100px;
  }

  .rights {
    color: #272a31;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
  }

  .para-rights {
    color: #272a31;
    font-size: 18px;

    /* font-weight: 300; */
    font-family: 'Lato', sans-serif;
  }
}
